.intro {
  color: #b0b0b0;
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
  background-color:rgb(77, 8, 141);
  border-top: rgb(77, 8, 141) solid;
  border-bottom: rgb(77, 8, 141) solid;
  border-right: rgb(77, 8, 141) solid;
  border-left: rgb(77, 8, 141) solid;
}
.header {
  color: #b0b0b0;
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
  background-color:rgb(77, 8, 141);
  border-top: rgb(77, 8, 141) solid;
  border-bottom: rgb(77, 8, 141) solid;
  border-right: rgb(77, 8, 141) solid;
  border-left: rgb(77, 8, 141) solid;
}